name: deployment
on: 
  push:
    branches: ["main"]
jobs:
  code-test:
    uses: ./.github/workflows/code_test.yml

  build-frontend:
    needs: code-test
    uses: ./.github/workflows/service_build.yml
    with:
      build_tag: ${{ github.sha }}
      service: frontend
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
  build-backend:
    needs: code-test
    uses: ./.github/workflows/service_build.yml
    with:
      build_tag: ${{ github.sha }}
      service: backend
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
  build-bot:
    needs: code-test
    uses: ./.github/workflows/service_build.yml
    with:
      build_tag: ${{ github.sha }}
      service: bot
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
  build-discord:
    needs: code-test
    uses: ./.github/workflows/service_build.yml
    with:
      build_tag: ${{ github.sha }}
      service: discord
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
    
  e2e-test:
    needs: [build-frontend, build-backend, build-bot, build-discord]
    uses: ./.github/workflows/e2e_test.yml
    secrets:
      SSH_SERVER_HOST: ${{ secrets.SSH_SERVER_HOST }}
      SSH_SERVER_PASSWORD: ${{ secrets.SSH_SERVER_PASSWORD }}
      SSH_SERVER_USERNAME: ${{ secrets.SSH_SERVER_USERNAME }}
      POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}

  update-configuration-prod:
    needs: [e2e-test]
    uses: ./.github/workflows/config_update_or_create.yml
    with:
      namespace: prod
    secrets:
      SSH_SERVER_HOST: ${{ secrets.SSH_SERVER_HOST }}
      SSH_SERVER_PASSWORD: ${{ secrets.SSH_SERVER_PASSWORD }}
      SSH_SERVER_USERNAME: ${{ secrets.SSH_SERVER_USERNAME }}

  deployment-frontend:
    needs: [update-configuration-prod]
    uses: ./.github/workflows/service_deployment.yml
    with:
      build_tag: ${{ github.sha }}
      namespace: prod
      service: frontend
    secrets:
      SSH_SERVER_HOST: ${{ secrets.SSH_SERVER_HOST }}
      SSH_SERVER_PASSWORD: ${{ secrets.SSH_SERVER_PASSWORD }}
      SSH_SERVER_USERNAME: ${{ secrets.SSH_SERVER_USERNAME }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  deployment-backend:
    needs: [update-configuration-prod]
    uses: ./.github/workflows/service_deployment.yml
    with:
      build_tag: ${{ github.sha }}
      namespace: prod
      service: backend
    secrets:
      SSH_SERVER_HOST: ${{ secrets.SSH_SERVER_HOST }}
      SSH_SERVER_PASSWORD: ${{ secrets.SSH_SERVER_PASSWORD }}
      SSH_SERVER_USERNAME: ${{ secrets.SSH_SERVER_USERNAME }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  deployment-bot:
    needs: [update-configuration-prod]
    uses: ./.github/workflows/service_deployment.yml
    with:
      build_tag: ${{ github.sha }}
      namespace: prod
      service: bot
    secrets:
      SSH_SERVER_HOST: ${{ secrets.SSH_SERVER_HOST }}
      SSH_SERVER_PASSWORD: ${{ secrets.SSH_SERVER_PASSWORD }}
      SSH_SERVER_USERNAME: ${{ secrets.SSH_SERVER_USERNAME }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  deployment-discord:
    needs: [update-configuration-prod]
    uses: ./.github/workflows/service_deployment.yml
    with:
      build_tag: ${{ github.sha }}
      namespace: prod
      service: discord
    secrets:
      SSH_SERVER_HOST: ${{ secrets.SSH_SERVER_HOST }}
      SSH_SERVER_PASSWORD: ${{ secrets.SSH_SERVER_PASSWORD }}
      SSH_SERVER_USERNAME: ${{ secrets.SSH_SERVER_USERNAME }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
